.admin-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

h2 {
  color: black;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.section-card {
  margin: 20px;
}
.section-card:hover {
  background-color: #8a8a8a;
}
.pAdministracion {
  color: red;
}
