.consentimiento-container {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.botonconsentimiento {
  color: white;
  align-items: center;
  background-color: black;
  margin: 10px;
}
.botonconsentimiento:hover {
  background-color: black;
  color: red;
}
.consentimiento-container .tituloconsentimiento {
  background-color: black;
  color: white;
}
